.erreur{
    width: 50%;
    margin: 0 auto;
    margin-top: 10%;
    justify-content: center;

}
.phrase1, .phrase2{
    text-align: center;
    margin-bottom: 10%;
}
.logo img{
    width: 200px;
}
.logo{
    width: 36%;
    margin: 0 auto;
    margin-bottom: 10%;
    margin-top: 5%;
}
.boutons {
    display: flex;
    width: 200px;
    /*margin: 0 auto;*/
    margin-left: 30%;
}
.btn_bleu input{
    color: white;
    background-color: blue;
    border: none;
    border-radius: 5px;
    width: 90px;
    height: 35px;
    margin-right: 90px;
}
.non button{
    border: none;
    border-radius: 5px;
    width: 90px;
    height: 35px;
    background-color: rgba(128, 128, 128, 0.1);
    color: black;


}
.non button a{
    text-decoration: none;
    color: black;
}
.btn_bleu input[type="submit"]:hover {
    transform: scale(1.05);
}


.login{

    width: 50%;
    margin: 0 auto;
    margin-top: 10%;
    justify-content: center;
    vertical-align: middle;
}
.erreur{
    width: 65%;
    height: 30px;
    margin-top: 5%;
    margin: 0 auto;
    opacity: 0.7;
}
.email, .mot_de_passe, .bouton{
    text-align: center;
}
.logo img{
    width: 200px;
}
.logo{
    width: 36%;
    margin: 0 auto;
    margin-bottom: 5%;
    margin-top: 5%;
}


.mot_de_passe input, .email input{
    width: 60%;
    height: 30px;
    border-radius: 5px;
    margin-bottom: 5%;
    border: none;
    padding-left: 15px;
    background-color: rgba(128, 128, 128, 0.1);
}
.bouton input{
    color: white;
    background-color: blue;
    width: 51%;
    height: 30px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
}
.bouton input[type="submit"]:hover {
    transform: scale(1.05);
}
.email input::placeholder{
    margin-left: 5%;
    color: black;
}

.mot_de_passe input::placeholder{
    color: black;

}